.genres{
  width: 150px;
  border-radius: 10px;
  border: 2px solid mediumvioletred;
  padding: 5px 5px;
  background: darkslategrey;
  color: snow;
  margin-top: 20px;
  margin-right: 20px;
}
.btn {
  align-items: center;
  background-color: powderblue;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 300;
  justify-content: center;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  height: 13px;
  width: 60px;
}

.btn:hover {
  transform: translateY(-1px);
}

.btn:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
}
