pre {
  color: snow;
  margin: 2px;
}
.pre b {
  color: snow;
}
.star {
  position: relative;
  display: inline-block;
  color: white;

}
/*.full {
  color: #344a54;
}*/
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: goldenrod;
}
