
<div class="container">
  <div class="navBar">
    <div><img class="imgLogo"
              src="https://www.themoviedb.org/assets/2/apple-touch-icon-cfba7699efe7a742de25c28e08c38525f19381d31087c69e89d6bcb8e3c0ddfa.png"
              alt="MovieDB">
    </div>
    <div class="Movie"><a routerLink="movie">Movies</a></div>
  </div>
  <div class="search"><app-search></app-search></div>
  <div class="userToggle">
    <div>
      <label class="switch">
        <span class="slider round"></span>
      </label>
    </div>
    <div class="user">
      <div><span class="userName">Olha</span></div>
    </div>
  </div>
</div>
