

.imgLogo{
  height: 40px;
  width: 40px;
}

.imgUser{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.input{
  margin-top: 10px;
}

.user{
  display: flex;
  flex-direction: column;
  background: deeppink;
  align-items: center;
  border-radius: 20px;
  height: 35px;
  width: 35px;
  margin:20px;
}
.container{
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: #0b0b33;
  border-radius: 10px;
}

.Movie a{
  text-decoration: none;
  color: deeppink;
}

.navBar{
  display: flex;
  align-items: center;
  gap: 0 10px;
}

.search {
  display: flex;
  align-items: center;
}

.userName{
  color: #2079bd;
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-top: 8px;
}


